.flex {
  display: flex;

  &[data-inline] {
    display: inline-flex;
  }

  &[data-direction="column"] {
    flex-direction: column;
  }

  &[data-justify="center"] {
    justify-content: center;
  }

  &[data-justify="end"] {
    justify-content: flex-end;
  }

  &[data-justify="between"] {
    justify-content: space-between;
  }

  &[data-justify="around"] {
    justify-content: space-around;
  }

  &[data-justify="evenly"] {
    justify-content: space-evenly;
  }

  &[data-align="center"] {
    align-items: center;
  }

  &[data-align="end"] {
    align-items: flex-end;
  }

  &[data-align="stretch"] {
    align-items: stretch;
  }

  &[data-align="baseline"] {
    align-items: baseline;
  }

  &[data-wrap] {
    flex-wrap: wrap;
  }

  &[data-gap="xs"] {
    gap: var(--space-xs);
  }

  &[data-gap="sm"] {
    gap: var(--space-sm);
  }

  &[data-gap="md"] {
    gap: var(--space-md);
  }

  &[data-gap="lg"] {
    gap: var(--space-lg);
  }

  &[data-gap="xl"] {
    gap: var(--space-xl);
  }
}
